* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.home {
    font-size: 60px;
    font-weight: bold;
}

.btn {
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(75, 186, 255);
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}

.page {
    background-color: rgb(232, 241, 226);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.scoreboard__title {
    cursor: default;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 130px;
}


.scoreboard-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    &__icon {
        width: 40px;
        padding: 10px;
        height: 60px;
        background-color: white;
        display: flex;
        align-items: center;
        color: lightgrey;
    }

    &__input {
        height: 60px;
        border: none;
        padding: 10px;
        width: 300px;
        outline: none;
        font-size: 24px;

        ::-webkit-input-placeholder {color: lightgrey};
        ::-moz-placeholder          {color: lightgrey};
        :-moz-placeholder           {color: lightgrey};
        :-ms-input-placeholder      {color: lightgrey};
    }

    &__btn {
        width: 150px;
        height: 60px;
        font-size: 25px;
        border-top-right-radius: 45px;
        transition: 0.5s;

        &:hover {
            border-top-right-radius: 15px;
        }
    }
}