body {
  display: grid;
  grid-template-areas:
    "header55 header55 header55"
    " sidebar-1 main sidebar-2"
    "footer footer footer";
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 3fr 5fr 5fr;
}

#header {
  padding: 20px;
  background: orange;
  grid-area: header55;
}

#main {
  padding: 20px;
  background: orangered;
  grid-area: main;
}

#sidebar-1,
#sidebar-2 {
  padding: 20px;
  background: silver;
  grid-area: sidebar-1;
}
#sidebar-2 {
  grid-area: sidebar-2;
}
#footer {
  padding: 20px;
  grid-area: footer;
  background: coral;
}
